<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        <div class="row">
          <div class="d-flex justify-content-center">
            <h1>Team {{teamData?.name}}</h1>
          </div>
        </div>

        @if (notInTeam) {
            <div class="row d-flex justify-content-center">
                <!-- <button class="btn btn-primary createButton" (click)="openDialog('300ms', '300ms')">Create Team</button> -->
                <button class="btn btn-primary createButton" (click)="goToCreateTeam()">Create Team</button>
            </div>
        }
        @if (!notInTeam) {
          <div class="row">
            @for (member of teamData?.members; track member) {
              <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title class="d-flex justify-content-center">{{member.username}}</mat-card-title>
                    <mat-card-subtitle class="d-flex justify-content-center">{{member.email}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                  </mat-card-content>
              </mat-card>
          }
          </div>
          <div class="row d-flex justify-content-center">
            <button class="btn leave" (click)="leaveTeam()">Leave Team</button>
          </div>
          <div class="row d-flex justify-content-center">
            <button class="btn" (click)="changeSearchFlag()">Invite User</button>
          </div>
          @if (searchUser) {
            <div class="row d-flex justify-content-center">
              <mat-form-field>
                <mat-label>Find User</mat-label>
                <input type="text"
                      placeholder="username"
                      aria-label="Find User"
                      matInput
                      [formControl]="userSearchControl"
                      [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  @for (foundUser of filteredOptions | async; track foundUser) {
                    <mat-option (click)="addUserToTeam(foundUser)" [value]="foundUser.username">{{foundUser.username}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            @if (selectedMembers.length > 0) {
              <div class="row d-flex justify-content-center">
                <button class="btn" (click)="addMember(selectedMembers[0].username)" style="width: 25%;">Add</button>
              </div>
            }

          }
          <div class="row d-flex justify-content-center">
            <button class="btn" (click)="kickUserFlag=!kickUserFlag">Kick User</button>
          </div>

          @if (kickUserFlag) {
            <!-- <div class="row d-flex justify-content-center">
              <mat-form-field>
                  <mat-label>Search Users</mat-label>
                  <input matInput [formControl]="searchControl">
                </mat-form-field>
          </div> -->
          <!-- <div class="row d-flex justify-content-center">
              <mat-form-field>
                  <mat-label>Select User</mat-label>
                  <mat-select >
                    @for (username of usernames; track username) {
                      <mat-option [value]="username.username" (click)="selectMember(username)">{{username.username}}</mat-option>
                      }
                  </mat-select>
                </mat-form-field>
          </div> -->
          <div class="row d-flex justify-content-center">
            <mat-form-field>
                <mat-label>Select User</mat-label>
                <mat-select >
                  @for (member of teamData?.members; track member) {
                    <mat-option [value]="member.username" (click)="selectUsername(member.username)">{{member.username}}</mat-option>
                    }
                </mat-select>
              </mat-form-field>
        </div>
          @if (selectedUsername !== '') {
            <div class="row d-flex justify-content-center">
              <button class="btn" (click)="kickUser(selectedUsername)" style="width: 25%;">Kick</button>
            </div>
          }

          }

      }

        

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>