<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        <div class="row">
          <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
            <h1>Team</h1>
          </div>
        </div>

        @if (notInTeam) {
            <div class="row d-flex justify-content-center">
                <button class="btn btn-primary createButton" (click)="openDialog('300ms', '300ms')">Create Team</button>
            </div>
        }
        @if (!notInTeam) {
          <div class="row">
            <mat-card class="example-card" (click)="openKickDialog('300ms', '300ms')">
              <mat-card-header>
                
                <mat-card-title><img class="avatar mat-elevation-z8" src="assets/avatar.png" alt="Image"> Juan Villalobos</mat-card-title>
                <mat-card-subtitle>Costa Rica</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>Discord: 111, Role: Develover, Email: hhhhh</p>
                
              </mat-card-content>
            </mat-card>
          </div>
          <div class="row d-flex justify-content-center">
            <button class="btn">Edit Team</button>
          </div>
      }

        

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>