h2{
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  p{
    color: #A6A77D;
  }

  
  
  .button-container {
    align-items: center;
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
  }
  
  mat-sidenav-container {
    display: flex;
    height: 100vh;
    
  }
  
  mat-sidenav-content {
    flex: 1 1 auto;
    overflow: auto;
    background-color: #121212;
  }
  
  .content{
    margin-left: 18rem;
    margin-top: 0.6rem !important;
    margin-right: 16px;
    border-radius: 10px;
    height: calc(100vh - 4rem);
    margin-bottom: 2rem;
    background-color: #212121 !important;
  }
  
  .custom-container {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  h1{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
  }
  
  .customInput{
    width: 100%;
  }
  
  .rounded-table-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  @media (max-width: 770px) {
    .d-flex {
      flex-direction: column; /* Stack items vertically /
      align-items: center; / Center items horizontally /
    }
  
    .btn-menu {
      margin-bottom: 1rem; / Add spacing between the button and the input */
      width: 100%;
    }
  }
  
  @media (max-width: 1350px) {
    .content {
      margin-left: 1rem;
    }
    .custom-container {
      margin-left: 50px;
      margin-right: 50px;
    }
  
  }
  
  @media (max-height:900px) {
    .content{
      height: auto;
      margin-bottom: 10px;
    }
  
  }