<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        <div class="row">
          <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
            <h1>Sites</h1>
          </div>
        </div>

          <div class="row">
            @for (site of siteData; track site) {
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{site.name}}</mat-card-title>
                      <mat-card-subtitle>{{site.region}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="'data:image/jpeg;base64,' + site.photo.data" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>Country: {{site.country}}, City: {{site.city}},  Modality: {{site.modality}}</p>
                    </mat-card-content>
                </mat-card>
            }

          </div>
          <div class="row d-flex justify-content-center">
            <button class="btn" (click)="goToCreateSites()">Create Site</button>
          </div>

        

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>