<div class="container flex-container">
    <div class="row" class="d-flex justify-content-center">
        <mat-card>
            <mat-card-content class="d-flex justify-content-center">
                <div class="example-container flexx-container">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon>
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    #txtInput
                    >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="vpn_key"></mat-icon>
                    <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    #txtInput
                    >
                    <button class="btn btn-primary">
                        Log In
                    </button>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>