<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        <div class="row">
          <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
            <h1>Jam</h1>
          </div>
        </div>

          <div class="row">
            @for (jam of jamData; track jam) {
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{jam.title}}</mat-card-title>
                      <mat-card-subtitle>{{jam.theme}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>Starting Date: {{jam.startingDate}}, Ending Date: {{jam.endingDate}}, Description: {{jam.description}}</p>
                    </mat-card-content>
                </mat-card>
            }

          </div>
          <div class="row d-flex justify-content-center">
            <button class="btn" (click)="goToCreateJam()">Create Jam</button>
          </div>

        

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>