<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        @if (!editFlag) {
          <div class="row">
            <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
              @if (jamData.length != 0) {
                <h1>{{jamData[0].title}}</h1>
              }
              @if (jamData.length == 0) {
                <h1>Create a Jam</h1>
              }
            </div>
          </div>

          @if (jamData.length != 0) {
            <div class="row">
              <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                <h4>Description: {{jamData[0].description}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                <h6>From {{jamData[0].startingDate}} to {{jamData[0].endingDate}}</h6>
              </div>
            </div>
            <div class="row">
              <mat-divider style="margin-bottom: 10px; margin-top: 10px;"></mat-divider>
            </div>

            @for (stage of jamStages; track stage) {

              <div class="row">
                <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                  <h3>Stage {{stage.name}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                  <h6>From {{stage.startingDate}} to {{stage.endingDate}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                  <h6>Demo date: {{stage.demoDayDate}}</h6>
                </div>
              </div>
              @if (stage.buildDeliveryDate != "") {
                <div class="row">
                  <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                    <h6>Build delivery date: {{stage.buildDeliveryDate}}</h6>
                  </div>
                </div>
              }
              @if (stage.pitchDeliveryDate != "") {
                <div class="row">
                  <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                    <h6>Pitch delivery date: {{stage.pitchDeliveryDate}}</h6>
                  </div>
                </div>
              }
              @if (stage.pitchPreviewDeliveryDate != "") {
                <div class="row">
                  <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                    <h6>Pitch preview delivery date: {{stage.pitchPreviewDeliveryDate}}</h6>
                  </div>
                </div>
              }
              @if (stage.pitchTestDate != "") {
                <div class="row">
                  <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
                    <h6>Pitch test date: {{stage.pitchTestDate}}</h6>
                  </div>
                </div>
              }
              <div class="row">
                <mat-divider style="margin-bottom: 10px; margin-top: 10px;"></mat-divider>
              </div>
            }
          }


          

          @if (jamData.length == 0) {
            <div class="row d-flex justify-content-center">
              <button class="btn" style="margin-top: 1rem;"  (click)="goToCreateJam()">Create Jam</button>
            </div>
          }
          @if (jamData.length != 0) {
            <div class="row d-flex justify-content-center">
              <button class="btn" style="margin-top: 1rem;" (click)="updateJam()">Update Jam</button>
            </div>
          }
          @if (jamData.length != 0) {
            <div class="row d-flex justify-content-center">
              <button class="btn" style="margin-top: 1rem; margin-bottom: 1rem;" (click)="deleteJam()">Delete Jam</button>
            </div>
          }

        }
        @if (editFlag) {
          <div class="row">
            <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
              <h1>Edit JAM</h1>
            </div>
          </div>
            <form [formGroup]="form">
              <div class="row d-flex justify-content-center">
              
                  <mat-form-field>
                    <mat-label>Title: {{jamData[0].title}}</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>
                
                  <mat-form-field>
                    <mat-label>Description: {{jamData[0].description}}</mat-label>
                    <input matInput formControlName="description">
                  </mat-form-field>
  
                  <mat-form-field>
                    <mat-label>Select Stages</mat-label>
                    <mat-select formControlName="stages" multiple>
                        @for (stage of stages.stages; track stage) {
                        <mat-option [value]="stage._id">{{stage.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
              
  
              </div>
              <div class="row d-flex justify-content-center">
                  <button mat-flat-button class="btn btn-primary submit-button" mat-raised-button color="primary" (click)="submitForm()">Update JAM</button>
              </div>
            </form>
          <div class="row d-flex justify-content-center">
            <button class="btn" style="margin-top: 1rem;" (click)="updateJam()">View Jam</button>
          </div>
        }

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>