<div class="container flex-container">
    <div class="row" class="d-flex justify-content-center">
        <mat-card>
            <mat-card-content class="d-flex justify-content-center">
                <div class="example-container flexx-container">
                    @if (!coded && !confirmed) {
                        <form #loginForm="ngForm" (ngSubmit)="sendCode()">
                        <div class="d-flex justify-content-center">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
                        </div>
                        <input
                        type="text"
                        class="form-control email"
                        placeholder="Enter email"
                        #emailInput
                        > 
                        <button class="btn btn-primary">
                            Send code
                        </button>
                        </form>
                    }
                    @if (coded) {
                        <form #loginForm="ngForm" (ngSubmit)="confirmPass()">
                        <div class="d-flex justify-content-center">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="games"></mat-icon>
                        </div>
                        <input
                        type="text"
                        class="form-control email"
                        placeholder="Enter Code"
                        #codeInput
                        >
                        <input
                        type="text"
                        class="form-control email"
                        placeholder="New Password"
                        #newPasswordInput
                        > 
                        <input
                        type="text"
                        class="form-control email"
                        placeholder="Confirm New Password"
                        #confirmPasswordInput
                        >  
                        <button class="btn btn-primary">
                            Validate code
                        </button>
                        </form>
                    }
                    
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>