<div class="container flex-container">
    <div class="row" class="d-flex justify-content-center">
        <mat-card>
            <mat-card-content class="d-flex justify-content-center">
                <div class="example-container flexx-container">
                    <form [formGroup]="form" (ngSubmit)="onRegister()">
                        @if(formStep === 1){
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon>
                            </div>
                            <input
                            type="text"
                            class="form-control"
                            placeholder="E-mail"
                            formControlName="email"
                            #emailInput
                            > 
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="discord"></mat-icon>
                            </div>
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Discord Username"
                            formControlName="username"
                            #usernameInput
                            > 
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="vpn_key"></mat-icon>
                            </div> 
                            <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            formControlName="password"
                            #passwordInput
                            >
                        }
                        @if(formStep === 2){
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                            </div>
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Name"
                            formControlName="name"
                            #nameInput
                            > 
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                            </div>
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Lastname"
                            formControlName="lastname"
                            #lastnameInput
                            > 
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
                            </div>
                            <input
                            type="text"
                            class="form-control"
                            placeholder="Phone Number"
                            formControlName="phone"
                            #phoneInput
                            > 
                        }
                        @if(formStep === 3){
                            <div class="d-flex justify-content-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
                            </div>
                            <mat-form-field>
                                <mat-label>Select Region</mat-label>
                                <mat-select formControlName="region" >
                                    @for (region of regions; track region) {
                                    <mat-option [value]="region.viewValue" (click)="getSites(region.viewValue)">{{region.viewValue}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            
                            @if (siteData.length > 0) {
                                <div class="d-flex justify-content-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cloud"></mat-icon>
                                </div>
                            <mat-form-field>
                                <mat-label>Select Site</mat-label>
                                <mat-select formControlName="site">
                                    @for (site of siteData; track site) {
                                    <mat-option [value]="site._id">{{site.name}}, {{site.country}}, {{site.city}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            }
                            <mat-form-field>
                                
                                <label for="file" mat-stroked-button aria-label="File input">
                                  <mat-icon>folder</mat-icon>
                                  Profile Picture
                                </label>
                                <input matInput formControlName="file" type="text" [value]="fileName" readonly>
                                <input type="file" id="file" hidden (change)="onFileSelected($event)" accept=".png, .jpg, .jpeg">
                              </mat-form-field>
                        }
                          <!-- <div class="d-flex justify-content-center">
                            <button class="cmenu" mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">Menu <mat-icon>dialpad</mat-icon></button>
                            <mat-menu  #menu="matMenu">
                              <button style="width: 100%;" mat-menu-item>Item 1</button>
                              <button mat-menu-item>Item 2</button>
                            </mat-menu> 
                          </div>
                            -->

                        @if(formStep !== 1){<button class="btn btn-primary cbutton" (click)="formStep = formStep - 1">Back</button>}
                        @if(formStep !== 3){<button class="btn btn-primary cbutton" (click)="formStep = formStep + 1"  [disabled]="isStepComplete()">Next</button>}
                        @if(formStep == 3){<button type="submit" class="btn btn-primary cbutton" type="submit" [disabled]="isStepComplete()">Register</button>}
                        <div class="d-flex justify-content-center">
                            <p>Already have an account? <a [routerLink]="['/login']">Log In!</a></p>
                        </div>
                    </form>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>