
mat-card{
    background-color: #212121;
    color: white;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5%;
}

p{
    color: white;
    font-size: 13px;
    margin: 0px;
}

a{
    color: #FFA500;
    font-size: 13px;
    text-decoration: none;
}

.flexx-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto!important;
    padding: 25px;
  }

.cbutton{
    background-color: #FFA500 !important;
    border-color: #FFA500;
    color: white;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 15px;
    margin-top: 15px;

}
.cbutton:hover{
    background-color: #212121 !important;
    border-color: #212121;
    color: white;

}

.cmenu{
  background-color: #FFA500 !important;
  border-color: #FFA500;
  color: white;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 15px;
  margin-top: 15px; 
}

.forgot-password{
  color: #FFA500;
  font-size: 13px;
  text-decoration: none;
}

input{
    background-color: #505050;
    border-color: #212121;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    font-size: 15px;
    margin-bottom: 20px !important;
}
input::placeholder {
    color: #9c9c9c;
    font-weight:600;
}
input:focus {
    background-color: #212121;
    color: white;
  }
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  mat-icon{
    margin-bottom: 5px;
  }
  mat-form-field{
    width: 100%;
    //height: auto;
  }


  