<app-sidenav></app-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4" #contentContainer>
      <div class="custom-container">

        <div class="row">
          <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
            <h1>Create Jam</h1>
          </div>
        </div>
          <form [formGroup]="form">
            <div class="form-container">
            
                <mat-form-field class="input-title">
                  <mat-label>Title</mat-label>
                  <input matInput formControlName="title">
                </mat-form-field>
              
                <mat-form-field class="input-description">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
              
                <!-- <mat-form-field>
                  <mat-label>Theme</mat-label>
                  <input matInput formControlName="theme">
                </mat-form-field> -->

                <div class="container-dates">
                  <mat-form-field class="input-init-date">
                    <mat-label>Initial Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startingDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="input-end-date">
                      <mat-label>End Date</mat-label>
                      <input matInput [matDatepicker]="picker2" formControlName="endingDate">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>

                </div>
                <mat-form-field>
                  <mat-label>Select Stages</mat-label>
                  <mat-select formControlName="stages" multiple>
                      @for (stage of stagesData.stages; track stage) {
                      <mat-option [value]="stage._id">{{stage.name}}</mat-option>
                      }
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="row d-flex justify-content-center">
                <button mat-flat-button class="btn btn-primary submit-button" mat-raised-button color="primary" (click)="submitForm()">Create Jam</button>
            </div>
            <div class="row d-flex justify-content-center">
              <button style="width: 15%;" mat-flat-button class="btn btn-primary submit-button" mat-raised-button color="primary" (click)="goToViewJam()">Go Back</button>
          </div>
        </form>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>