h2{
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  mat-card-title{
    color: #FFA500;
  }	


  
  mat-sidenav-container {
    display: flex;
    height: 100vh;
    
  }
  
  mat-sidenav-content {
    flex: 1 1 auto;
    overflow: auto;
    background-color: #121212;
  }
  
  .content{
    margin-left: 18rem;
    margin-top: 0.6rem !important;
    margin-right: 16px;
    border-radius: 10px;
    min-height: calc(100vh - 4rem);
    margin-bottom: 2rem;
    background-color: #212121 !important;
  }
  
  .custom-container {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  h1{
    margin-top: 3rem;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: white;
  }
  
  .rounded-table-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  @media (max-width: 770px) {
    .d-flex {
      flex-direction: column; /* Stack items vertically /
      align-items: center; / Center items horizontally /
    }
  
    .btn-menu {
      margin-bottom: 1rem; / Add spacing between the button and the input */
      width: 100%;
    }
  }
  
  @media (max-width: 1350px) {
    .content {
      margin-left: 1rem;
    }
    .custom-container {
      margin-left: 50px;
      margin-right: 50px;
    }
  
  }
  
  @media (max-height:900px) {
    .content{
      height: auto;
      margin-bottom: 10px;
    }
  
  }

  .example-card {
    max-width: 300px;
    height: 200px;
    transition: transform 0.3s;
  }
  
  .example-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .example-card.selected {
    transform: scale(1.05) rotateY(10deg);
  }
  mat-card {
    background-color: #313131;
    margin: auto;
    margin-bottom: 20px;
  }

  button {
    background-color: #313131 !important;
    width: 25%;
    padding: 20px;
    margin-bottom: 50px;
  }

  button:hover {
    background-color: #FFA500 !important;
  }