<app-sidenav></app-sidenav>


<mat-sidenav-container>

    <mat-sidenav-content>
      <div class="content mat-elevation-z4" #contentContainer>
        <div class="custom-container">
  
          <div class="row">
            <div class="col-md-12 mx-auto d-flex justify-content-center align-self-center">
              <h1>Manage Sites</h1>
            </div>
          </div>
  
          <!-- <div class="row">
            <button mat-raised-button (click)="openDialog('0ms', '100ms')">Open dialog without animation</button>
          </div> -->
  
          <div class="row">
            <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card" (click)="openDialog('300ms', '300ms')">
                <mat-card-header>
                  <mat-card-title>San José</mat-card-title>
                  <mat-card-subtitle>Costa Rica</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{longText}}</p>
                </mat-card-content>
              </mat-card>
              
              
          </div>

          <div class="row d-flex justify-content-center">
            <button mat-raised-button (click)="openDialog('300ms', '300ms')">Add New Site</button>
          </div>
  
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  